@import "bootstrap";
@import "./components/slick.scss";
@import "./components/slick-theme.scss";
@import "./components/slick-sliders.scss";

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    &:focus {
        outline: none;
    }
}

.h2 {
    text-transform: uppercase;
    font-weight: 700;
}

.section-title{
    position: relative;
    top:-240px;
    padding-bottom: 30px;
    margin-left:25px;
    max-width: 90%;
    border-bottom:1px solid $primary;
}

.container-fluid {
    width: 100%;
}

.bold {
    font-weight: 700;
}

.smaller{
    font-size:24px;
}

.wrapper {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1)),
        url("./../img/background.jpg");
}


.img-wrapper{
    display:flex;
    align-items: center;
    max-height:900px;
}

.img-fluid{
    max-height:85%;
    position: relative;
    top:-40px;
    &.database-img{
        max-height:105%;
    }
}

.display-4 {
    font-size: 2.7rem;
}

// .create-order{
//     .img-wrapper{
//         overflow:auto;
//         display:block;
//         .img-fluid{
//             max-height: 820px;
//             position: relative;
//             top: 0;
//         }
//     }
// }
